body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#chat {
  height: 150px;
  overflow: auto;
  border: 1px solid #444;
}
