body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

#chat {
  border: 1px solid #444;
  height: 150px;
  overflow: auto;
  margin-top: 10px;
}
